# **SESION_05**

### ***Ver el tipo de dato de una variable***

In [ ]:
# Se usa type para ver el tipo de dato que se esta utilizando
print(type(1))
print(type(1.0))
print(type("hola"))

<class 'int'>
<class 'float'>
<class 'str'>

### ***Como declarar un numero entero***

Una variablde se declara: nombre_variable = "valor"

In [321]:
# Variable 100 Entero
variable = 100
print (variable)
print ( type (variable) )

100
<class 'int'>

In [322]:
# Variable 20 Entero
variable_2 = int (20)
print (variable_2)
print ( type (variable_2) )

20
<class 'int'>

### ***Valores en otra base***

In [323]:
# Valor 10 en base decimal
print ("Base decimal")
print (10)
# Valor 10 en binario
print ("Base binaria")
print (0b1010)
# Valor 10 en octal
print ("Base octal")
print (0o12)
# Valor 10 en hexadecimal
print ("Base hexadecimal")
print (0xa)

Base decimal
10
Base binaria
10
Base octal
10
Base hexadecimal
10

### *Python no tiene un limite fijo de tamaño de  un numero entero*

In [324]:
# Entero con 60 dígitos
variable_3 = 123456789012345678901234567890123456789012345678901234567890
print (variable_3)
print (type (variable_3))

123456789012345678901234567890123456789012345678901234567890
<class 'int'>

## ***Como se declaran numeros de punto flotante***

In [325]:
# Valor 0.5 flotante directamente en el codigo 
print (0.5)
print ( type (0.5) )

0.5
<class 'float'>

In [326]:
# 0.100546 Flotante declarado en una variable 
variable_4 = 0.100546
print (variable_4)
print ( type (variable_4) )

0.100546
<class 'float'>

In [327]:
# Variable 1 Flotante, usando la funcion float
variable_7 = float (1)
print(variable_7)
print ( type (variable_7) )

1.0
<class 'float'>

##### *Se puede usar la notacion cientifica con "e"*

In [328]:
# Valor 2.0e-3 Flotante
variable_6 = 2.0e-3
print(variable_6)
print ( type (variable_6) )

0.002
<class 'float'>

##### *Precicion maxima con 17 decimales*

In [329]:
# Precisión de 17 decimales
variable_5 = 0.9999999999999999999
print(variable_5)
print ( type (variable_5) )

1.0
<class 'float'>

## ***OPERADORES ARITMETICOS***

In [330]:
# Operadores aritméticos
a = 10
b = 3
# Suma
print ("Suma")
print (a + b)
# Resta
print ("Resta")
print (a - b)
# Multiplicación
print ("Multiplicación")
print (a * b)
# División
print ("División")
print (a / b)
# Potencia
print ("Potencia")
print (a ** b)
# Módulo o residuo
print ("Módulo o residuo")
print (a % b)
# División entera
print ("División entera")
print (a // b)

Suma
13
Resta
7
Multiplicación
30
División
3.3333333333333335
Potencia
1000
Módulo o residuo
1
División entera
3

### **EJERCICIO CON OPERADORES ARITMETICOS**

In [331]:
minutos = 300
segundos = 3600
horas_min = minutos / 60
horas_seg = segundos / 3600
horas_total = horas_min + horas_seg
print("El total de horas es:", horas_total)

El total de horas es: 6.0

## ***OPERADORES DE COMPARACION***

In [334]:
print ("Operadores de comparación")
comparar = 10
print (comparar < 10)
print (comparar > 10)
print (comparar == 10)
print (comparar <= 10)
print (comparar >= 10)
print (comparar != 10)

Operadores de comparación
False
False
True
True
True
False

In [333]:
print ("Operadores de comparación con int - float")
entero = 10
flotante = 10.0
print (entero < flotante)
print (entero > flotante)
print (entero == flotante)
print (entero <= flotante)
print (entero >= flotante)
print (entero != flotante)

Operadores de comparación con int - float
False
False
True
True
True
False